.rcmd-container {
    padding: 32px;
    background-color: white;
    box-shadow:  0 0 32px  rgba(196, 196, 196, 0.6);
}

.rcmd-blockQuote{
    display: flex;
    flex-direction: column;
}

.rcmd-blockQuote img {
    width: 20px
}

.rcmd-blockQuote #container {
    margin-left: 42px;
    margin-top: -12px;
}

.rcmd-footer {
    display: flex;
    align-items: center;
}

.img-container{
    max-width: 90px;
    margin-right: 2%
}

.rcmd-footer img {
    width: 100%;
    border-radius: 50%;
    margin-top: 16px;
}

.rcmd-footer p {
    color: grey;
    margin: 4px;
}

.linkedin-container{
    width: 20%;
    margin: 0;
    margin-left: 80%
}

.linkedin-container img{
    width: 20%;
    vertical-align: middle;
}

.linkedin-container a{
    margin-left: 4px;
    vertical-align: middle;
    color: grey;
}

.linkedin-container a:hover{
    cursor: pointer;
    text-decoration: underline
}

@media (max-width: 35em) {
    .linkedin-container{
        width: 40%;
        margin: 0;
        margin-left: 65%
    }
    
    .linkedin-container img{
        width: 15%;
        vertical-align: middle;
    }
}