.client-container{
    text-align: center;
    margin-top: 48px;
    padding: 32px
}

.logos{
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-flow: row wrap
}

.logo{
    flex: 0 0 140px;
    margin: 0 24px;
}

.logo img{
    max-width: 100%;
    vertical-align: middle;
    opacity: 0.5;
}

.logos img:hover{
    opacity: .7;
}
