@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto|Roboto+Condensed');
$dark: #0e1015;
$light-dark: #363b46;
$gray: #919aad;
$light-gray: #bbc4d9;
$lighter-gray: #edf1f6;
$purple: #5879c0;
$blue: #3e95d4;
$light-blue: #9ad8dc;
$light-yellow: #fad092;
$orange: #e9572c;

$primary-font: 'Roboto Condensed', Arial, sans-serif;
$secondary-font: 'Roboto', Helvetica, Arial, sans-serif;
$header-font: 'Josefin Sans', sans-serif;
