@import '../../styles/variables';


.circle{
    position:absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-shape{
    width: 100%;
    padding: 16%;
    background-color: white;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    padding-bottom: 8%;
    
}

.card-title{
    text-align: center;
    font-size: 18pt;
    margin-top: 16px;
}

.card-list{
    font-size: 12pt;
    margin-top:-4px;
    vertical-align:middle;
}

.icon-list{
    width: 8%;
    margin-right: 8px
}
