@import '../styles/variables';


.child-container{
    max-width: 88%;
    margin-left: 6%;
}

.cards{
    margin-top: 100px;
}

.front-end{
    width: 31.5%;
    float: left;
}

.back-end{
    width: 31.5%;
    float: left;
    margin-left: 2.75%;
    margin-top: 0
}

.other-skills{
    width: 31.5%;
    float: right;
    margin-top: 0;
}