@import '../styles/variables';


.child-container, .cards{
    max-width: 88%;
    margin-left: 6%;
}

.overview-container{
    width: 60%;
    margin-top: 48px;
    margin-left: 20%;
    text-align: center
}

.cards{
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.front-end{
    width: 31.5%;
    float: left;
}

.back-end{
    width: 31.5%;
    float: left;
    margin-top: 0
}

.other-skills{
    width: 31.5%;
    float: right;
    margin-top: 0;
}

.clients-container{
    background-color: white;
    padding-bottom: 28px;
}

.rcmds-container{
    background: #FBFBFB;
    height: 22em;
    padding-top: 28px;
    padding-bottom: 28px;
    position: relative;
    overflow: hidden;
}

.rcmd{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 60%;
    transition: transform 0.8s;
}

.slides-container{
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slide{
    width: 10px;
    height: 10px;
    display: flex;
    margin-left: 16px;
}

.slide-btn{
    position: absolute;
    width: 94%;
    top:44%;
    left: 3%;
    display: flex;
    justify-content: space-between;
}

.slide-btn div{
    background-color: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.slide-btn img{
    width: 25px;
    margin-left: 7.5px;
    margin-top: 7px;
}

.slide-btn img:hover{
    cursor: pointer;
}

@media (max-width: 35em) {
    .front-end, .back-end,  .other-skills{
        width: 100%;
        margin: 0;
        padding-bottom: 48px;
    }
    .rcmd{
        width: 100%;
    }
    .rcmds-container{
        height: 25em;
    }
}